@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Secular+One&display=swap');

h1{
    font-family: Dancing Script;
    text-align: center;
    /* color: #F9849F; */
    /* color: #FD87A3; */
    /* color: #F684A5; */
    color: #FF78A6;
    /* color: #FC88A6; */
    font-size: 48pt;
}

p{
  color: #80A685;
  font-family: 'Secular One',;
}

a{
  text-decoration: none;
  color: #7EF286;
  /* color: #80A685; */
  font-family: 'Secular One';
}

li{
  text-align: center;
  padding: 10px;
}
#nav-list{
    font-family: 'Secular One';
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    text-align: center;
    /* color: #83FF8D; */
    color: #8EEE95;
    /* color: #80A685; */
}

body{
  /* background-color: purple; */
  /* background-image: url('Assets/sunset1.jpg'); */
  background-image: url('Assets/TDC_Designs.jpeg');
  background-position: center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #80A685;
  font-family: Noto;
  width: 100%;
  height: 100vh;
  padding: 30px;
}

p{
  font-family: Noto;
  text-align: center;
  color: #fff;
}

#Desk{
  background-position: center center fixed;
  background-size: cover;
  width: 100%;
}

#Links{
  text-align: center;
  font-family: Dancing Script;
  font-size: 24pt;
  font-weight: bold;
  margin-right: auto;
  margin-right: auto;
  color: #727172;
  /* color: #FFEC36; */
}

#nav-list{
  font-family: Noto;
  color: #80A685;
}

a:hover{
  /* color: #fff; */
  /* background-color: #F9849F; */
  background-color: #fff;
  color: #FF78A6;
}

#nav-list a:hover{
  background-color: #fff;
  color: #FF78A6;
}

@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
  }

  body img{
    height: 100%;
    width: 25%;
    margin: 0 auto;
  }

  h1{
    color: #8EEE95;
  }

}
