body{
  background-color: #ffffff;
  font-family: sans-sans-serif;
}

header, footer{
  background-color: #000;
  color: #049993;
  font-family: sans-serif;
  padding: 12px;
}

nav ul li{
  display: inline;
  list-style-type: none;
  font-family: sans-serif;
}

ul{
  padding-left: 2px;
}

a{
  color: black;
}

main{
  font-family: sans-serif;
  background-color: #049993;
  padding: 12px;
}

section{
  font-family: sans-serif;
  background-color: #C4C5C6;
  padding: 12px;
}

#section1{
  margin-bottom: 7px;
}

#footer{
  margin-top: 7px;
}
