@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
}

body {
  position: relative;
  background-image: url('../../../Assets/Water_Reflection.jpg');
  background-position: center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 100vh;
}

/* NavBar */

.navbar {
  display: flex;
  overflow: hidden;
  background-color: hotpink;
  padding: 4px;
  margin-top: 20px;
  /* flex-direction: column; */
  justify-content: center;
}

.navbar a {
  /* float: left; */
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.home .contact .resources{
  margin-top: 3px;
}

.dropbtn {
  /* float: left; */
  display: inline-flex
  overflow: hidden;
  justify-content: center;
  text-align: center;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  /* background-color: #D5F2F2; */
  /* background-color: #ADD9D9; */
  background-color: #fff;
  color: #7EB3B9;
  /* color: #70A6AE; */
  /* color: #AAD5DB; */
  /* color: #84BEC2; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 1; */
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #fff;
  background-color: hotpink;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.break{
  width: 400px;
}

/* contents: */

.content {
  background-color: #fff;
  border: 2px solid hotpink;
  /* border: 2px solid #D36B8F; */
  padding:15px;
  /* opacity: 80%; */
  /* color: #D36B8F; */
  /* color: #fff; */
  box-shadow: 2px 3px 1px 1px rgba(0,0,0,0.3);
  margin:50px 15%;
}
.content-header {
  font-size: 38pt;
  color: hotpink;
  /* opacity: 80%; */
  font-family: "Noto", sans-serif;
  /* margin:0; */
  text-align: center;
  padding: 10px;
  font-style: italic;
  font-weight: bold;
}
.content-subhead {
  border-bottom: 1px solid #2e4c83;
  /* margin:0; */
  text-align: center;
  margin-bottom:25px;
  padding-bottom:25px;
  font-family: "Noto", sans-serif;
  font-weight: normal;
  font-style: italic;
}
.content-content {
  padding:20px;
}
.content-fluid {
 padding:15px 15%;
 /* margin: 0px; */
 background: white;
 /* border-top:2px solid #2e4c83; */
 /* border-bottom:2px solid #2e4c83; */
 border-top: 2px solid hotpink;
 border-bottom: 2px solid hotpink;
}

/* content parallax */
.parallax-bg {
  height:100px;
  background-size: cover;
  background-attachment: fixed;
}
.parallax-abstract {
  background-image: url("../../../Assets/Ocean.GIF");
}

/* Special typography */

.dropcap {
  float:left;
  font-size:42pt;
  margin-top: -5px;
  line-height: 0.65;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-family: "Noto", sans-serif;
  font-weight: bold;
}
