body{
  /* background-color: magenta; */
  background-image: url('Assets/Sunset1.jpg');
  background-position: center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.box h1 a:hover{text-align: center;
color: #FD537C;
}

.nav li{
  display: inline-block;
  font-size: 15px;
  padding: 10px;
}

h1{
    font-family: Herculanum;
    text-align: center;
    color: #FF6F50;
}
h2{
    font-family: Herculanum;
    text-align: center;
    color: #FF6F50;
}
p{
    font-family: Hubballi;
    text-align: center;
    color: #E63552;
}
li{
    font-family: Hubballi;
    text-align: ceter;
    color: #FBCC0A;
    list-style-type: none;
}

.box{
  /* background-color: #FFE373; */
  background-image: linear-gradient(45deg, #F47B89, #FFFFA6);
  /* opacity: 0.5; */
  box-shadow: 10px 10px 12px 2px pink;
}

.box p a:hover{
    text-align: center;
    color: #FD537C;
}
