body{
  /* background-color: magenta; */
  background-image: url('Assets/Sunset1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  width: 100%;
  height: 100vh;
}
