@font-face {
    font-family: "thrones";
    src: url("../assets/fonts/GameofThrones.ttf") format("truetype");
  }
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Marcellus+SC&display=swap');
font-family: 'Cinzel', serif;
font-family: 'Marcellus SC', serif;

* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../assets/images/background_image.jpg);
    background-size: cover;
    background-color: gray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
main {
    background-color: rgba(255,255,255,0.3);

}
.navbar-brand {
    font-family: 'Marcellus SC', serif;
    font-size: 28px;
}
nav {
    width: 100%;
    height: 80px;
    background-color: white;
    font-family: 'Cinzel', serif
}
.my-carousel {
    position: relative;
    top: 80px;
    z-index: 2;
}
.banner-icon {
  position: relative;
  top: -50px;
  transition: 2s;
  z-index: 1;
}
.banner-icon:hover {
  top: 0px;
}


  /* Banners */
  .grid-images {
    margin-top: 75px;
  }
  .grid-images img {
    margin-bottom: 20px;
  }

  /* Video */
  .hod-trailer {
    margin: 0;
  }

  /* Blog Blurbs */
  article {
    background-color: white;
    padding: 12px;
  }
  .blog-title {
    margin: px 10px;
  }
  .card {
    background-color: lightgray;
    margin: 10px;
  }
  .copy {
    padding: 10px;
    margin
  }

  .container {
    margin-top: 20px;;
  }

  footer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0;
    margin: 0;
  }
  .grrm-logo {
    width: 25%;
    margin-top: 10%;
  }
  .footer-logo {
    max-width: 450px;
    margin: auto;
  }
  .footer-logo img {
    width:100%
  }
  .footer-copyright {
    text-align: center;
    font-family: 'Marcellus SC', serif;
  }

  .youtube {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
