body{
  background-color: #383B53;
  color: #fff;
}

/*********************************************/
/************** nav-list styles **************/
/*********************************************/
#nav-list{
  list-style-type: none;
}

#nav-list li{
  display: inline;
}

#nav-list li a:hover{
  color: #fff;
  background-color: yellow;
}
