@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
}

body {
  /* height: 1500px; */
  position: relative;
  background-image: url('../../Assets/IMG_1370.PNG');
  background-position: center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 100vh;
}

a{
  /* color: lightgreen; */
  color: #4DD5B1;
  text-decoration: none;
}

h1{
  color: #FA367E;
  /* color: hotpink; */
  margin-left: 46px;
  font-size: 35px;
}

ul li{
  padding: 5px;
}

nav ul{
  display: inline-flex;
  list-style-type: none;
  text-decoration: none;
  justify-content: space-between;
}

.nav-list{
  display: inline-flex;
  list-style-type: none;
  text-decoration: none;
  justify-content: space-between;
}

.nav-list a{
  color: #5D3A98;
}

.nav-list a:hover{
  /* color: #5D3A98; */
  background-color: #ffffff;
}

a:hover{
  color: #FA367E;
  /* background-color: hotpink; */
  /* background-color: #FA367E; */
}

.resources{
  color: #FA367E;
  /* color: hotpink; */
  list-style-type: none;
}

.resources:hover{
  color: #fff;
  /* background-color: hotpink; */
  /* background-color: #FA367E; */
}
/* .nav-list{
  display: inline;
  text-decoration: none;
} */
